label {
	width: 300px;
	text-align: right;
}

input {
	margin-left: 20px;
	margin-top: 20px;
}

select {
	margin-left: 20px;
	margin-top: 20px;
}

div.checkbox {
	width: 350px;
	margin-top:20px;
}

div.checkbox input {
	width: 30px;
	height: 23px;
	float: right;
	margin-top: 0;
}

div.checkbox label {
	clear: both;
}

div.submit input {
	margin-left: 326px;
}
